.contentContainer{
    width: 99%;
    overflow: hidden;
}
header{
    border: 2px dashed black;
    border-radius: 20%;
    padding: 100px;
    margin: 20px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'PT Sans', sans-serif;
    background:rgb(10, 202, 84)
}
nav {
    margin: 20px;
    background: rgb(5, 175, 167);
    padding: 30px;
    text-align: center;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

nav ul li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    width: 30%; 
}

nav ul li a{
    text-decoration: none;
    color: white;
}
.second{
    background: url("https://img3.goodfon.ru/original/2560x1600/8/ac/kraski-tekstura-fon-cveta.jpg");
    height: 262px;
}

.links{
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.second ul li{
    padding: 15px;;
    list-style: none;
}

.second ul li a{
    margin-left: 10px;
    font-size: 20px;
    color:white;
    text-decoration: none;
}

.second ul li i {
    font-size: 20px;
    margin-top: 10px;
}

.textInput {
    position: absolute;
    top: 444px;
    font-size: 20px;
    z-index: 10;
    left: 865px;
}

#searchbutton {
    position: absolute;
    left: 1090px;
    top: 443px;
}

.third {
    width: 100%;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.grid-item{
    width: 30%;
    justify-content: space-evenly;
}

.third div.grid-item img{
    width: 90%;
    height: 90%;
}

.grid-item2 img{
    width: 90%;
}

.fourth{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.grid-item2{
    box-sizing: border-box;
    width: 30%;
    margin: 20px;
}

#img2{
    height: 240px;
}

.grid-item2 a {
    position: relative;
    left: 165px;
}

.fifth{
    width: 100%;
    height: 300px;
    background: rgb(45, 4, 141);
    position: relative;
}

.fifth_first h2{
    color: white;
    position: absolute;
    left: 82px;
    top: 74px;
}

.sites{
    box-sizing: content-box;
    position: absolute;
    left: 771px;
    top: 97px;
}

.sites ul li a{
    color: white;
    font-size: 24px;
    text-decoration: none;
}
.sites ul li{
    list-style: none;
}

.sites ul i{
    font-size: 24px;
    color: white;
    margin-right: 15px;
}


