@keyframes text-animation{
    0% {left:38%}
    25% {left: 0%}
    50% {left: -36%}
    75% {left: 0%}
}


#position{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

h1{
    position: relative;
    animation-name: text-animation;
    animation-duration: 10s;
}

